    <div class="row">
    <div class="col-lg-10 offset-lg-1">
    <br>
  <h4>投稿一覧</h4>
  <hr>
  </div>
  </div>
  <div class="row">
    <div class="col-lg-1 offset-lg-1">
      <strong>カテゴリ</strong>
      <hr>
    </div>
    <div class="col-lg-4">
      <strong>記事タイトル</strong>
      <hr>
    </div>
    <div class="col-lg-1">
      <strong>いいね数</strong>
      <hr>
    </div>
    <div class="col-lg-2">
      <strong>記事の変更</strong>
      <hr>
    </div>
    <div class="col-lg-2">
      <strong>更新日時</strong>
      <hr>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <% @posts.each do |post| %>
      <div class="row">
        <div class="col-lg-1 offset-lg-1">
          <%= post.category_name %>
          <hr>
        </div>
        <div class="col-lg-4">
          <%= link_to post.title.truncate(20), post_path(post), {:style=>'color:black;', :class => "css_class"} %>
          <hr>
        </div>
        <div class="col-lg-1">
          <%= content_tag :span, " #{post.likes_count}", class: "fas fa-heart" %>
          <hr>
        </div>
        <div class="col-lg-1">
          <%= link_to '編集', edit_post_path(post) %>
          <hr>
        </div>
        <div class="col-lg-1">
          <%= link_to '削除', post_path(post), method: "delete", data: { confirm: "投稿を削除しますか?" } %>
          <hr>
        </div>
        <div class="col-lg-2">
          <%= l(post.updated_at, format: :long) %>
          <hr>
        </div>
      </div>
    <% end %>
  </ul>
  <div class="row">
    <div class="col-lg-11 offset-lg-1">
      <br>
      <%= paginate @posts %>
      <%= page_entries_info @posts, entry_name: "投稿" %>
    </div>
  </div>
</div>
<br>