<div class="container">
  <p></p>
  <h2>ユーザーログイン</h2>
  <!--もう少し|f|の動きを理解する必要あり。特にf.labelの動き。ただのラベルなのにerbとする必要があるのか。-->
  <%= form_with(scope: :session, local:true) do |f| %>
  <div class="form-group">
    <%= f.label :Email_address %>
    <!--この：emailはDBのカラムと対応しているのでは？-->
    <%= f.email_field :email, class: "form-control", placeholder: "sample@example.com" %>
  </div>
  <div class="form-group">
    <%= f.label :Password %>
    <%= f.password_field :password, class: "form-control", placeholder: "password" %>
  </div>
  <!--HTMLのform要素をsubmitするとpostが送られる
    さらに、その場がルーティングようのURLとなる？HTTPメソッドと、そのばのURLによってルーティングが決まるので
    特にパスを指定しなくてもOK-->
  <%= f.submit "ログインする" ,class: "btn btn-primary" %>
  <% end %>
</div>