<br>
<div class="container bg-white">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <br>
      <h2><%= @current_user.name %>の記事</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <br>
    <div class="col-lg-2 offset-lg-1">
      <strong>カテゴリ</strong>
      <hr>
    </div>
    <div class="col-lg-5">
      <strong>記事タイトル</strong>
      <hr>
    </div>
    <div class="col-lg-3">
      <strong>更新日時</strong>
      <hr>
    </div>
  </div>
      <ul class="list-group list-group-flush">
        <% @posts.each do |post| %>
          <div class="row">
            <div class="col-lg-2 offset-lg-1">
              <%= post.category_name %>
              <hr>
            </div>
            <div class="col-lg-5">
              <%= link_to post.title, post_path(post) %>
              <hr>
            </div>
            <div class="col-lg-3">
              <%= l(post.updated_at, format: :long) %>
              <hr>
            </div>
          </div>
        <% end %>
      </ul>
  <div class="row">
    <div class="col-lg-11 offset-lg-1">
      <br>
      <%= paginate @posts %>
      <%= page_entries_info @posts, entry_name: "投稿" %>
    </div>
  </div>
</div>
<br>