<br>
<div class="container bg-white">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <br>
      <h2><%= @current_user.name %>さんの記事</h2>
      <hr>
    </div>
  </div>
  <div class="row">
      <section class="col-lg-4 offset-lg-1">
        <%= render 'shared/stats' %>
      </section>
      <section class="col-lg-2 offset-lg-5">
        <%= link_to "退会する", admin_user_path(@current_user), method: "delete", data: { confirm: "本当に退会しますか?" } %>
      </section>
  </div>
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <%= render 'admin/users/follow_form',user: @user %>
      <br>
    </div>
  </div>
</div>
<br>
<div class="container bg-white">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <%= link_to '投稿', sessions_show_path, class: "nav-item nav-link"%>
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">コメント</a>
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="tab-content">
  <div class="tab-pane fade show active">
    <div class="container bg-white">
      <%= render 'show_comments', comments: @comments %>
    </div>
  </div>
</div>
<br>