<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <br>
    <h4>コメント一覧</h4>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-lg-1 offset-lg-1">
    <strong>カテゴリ</strong>
    <hr>
  </div>
  <div class="col-lg-2">
    <strong>コメントした記事</strong>
    <hr>
  </div>
  <div class="col-lg-5">
    <strong>コメント</strong>
    <hr>
  </div>
  <div class="col-lg-2">
    <strong>更新日時</strong>
    <hr>
  </div>
</div>
<ul class="list-group list-group-flush">
  <% @comments.each do |comment| %>
    <div class="row">
      <div class="col-lg-1 offset-lg-1">
        <%= comment.post.category_name %>
        <hr>
      </div>
      <div class="col-lg-2">
        <%= link_to comment.post.title.truncate(10), post_path(comment.post_id), {:style=>'color:black;', :class => "css_class"} %>
        <hr>
      </div>
      <div class="col-lg-5">
        <%= link_to comment.comment.truncate(25), post_path(comment.post_id), {:style=>'color:black;', :class => "css_class"} %>
        <hr>
      </div>
      <div class="col-lg-2">
        <%= l(comment.updated_at, format: :long) %>
        <hr>
      </div>
    </div>
  <% end %>
</ul>
<div class="row">
  <div class="col-lg-11 offset-lg-1">
    <br>
    <%= paginate @comments %>
    <%= page_entries_info @comments, entry_name: "コメント" %>
  </div>
</div>