<br><!--完了-->
<div class="container text-center">
  <% categories = [["結婚","btn btn-secondary btn-lg"],
                    ["出産","btn btn-success btn-lg"],
                    ["進学","btn btn-danger btn-lg"],
                    ["医療","btn btn-warning btn-lg"],
                    ["福祉","btn btn-info btn-lg"],
                    ["仕事","btn btn-secondary btn-lg"],
                    ["就職","btn btn-dark btn-lg"],
                    ["退職","btn btn-success btn-lg"],
                    ["災害","btn btn-secondary btn-lg"],
                    ["おくやみ","btn btn-danger btn-lg"]
                  ] %>
  <% categories.each do | category,button_color | %>
    <button type="button" class="<%= button_color %>">
      <%= link_to "#{category}", "/categories/index/#{category}", style: "color:white" %>
    </button>
  <% end %>
</div>
<br>
<div class="container">
  <h2>全ての記事</h2>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" role="tab" aria-controls="nav-home" aria-selected="true">新着</a>
    </div>
  </nav>
    <ul class="list-group list-group-flush">
        <br>
        <strong>記事タイトル</strong>
        <br>
      <% @posts.each do |post| %>
        <li class="list-group-item"><%= link_to post.title, post_path(post) %></li>
      <% end %>
    </ul>
  <div class="container">
    <br>
    <%= paginate @posts %>
    <%= page_entries_info @posts, entry_name: "投稿" %>
  </div>
</div>