<div class="container">
  <p></p>
  <h2>ユーザー登録</h2>
  <%= form_with(model: [:admin, @user], local: true) do |f| %>
    <div class="form-group">
      <%= f.label :name ,"ユーザー名" %>
      <%= f.text_field :name, class: "form-control", placeholder: "test_user" %>
    </div>
    <div class="form-group">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: "form-control", placeholder: "sample@example.com" %>
    </div>
    <div class="form-group">
        <%= f.label :admin, "管理者権限" %>
        <%= f.check_box :admin, class: "form-check" %>
    </div>
    <div class="form-group">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
    </div>
    <div class="form-group">
      <%= f.label :Password_confirmation, "パスワード(確認)" %>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password" %>
    </div>
    <%= f.submit "登録する", class: "btn btn-primary" %>
  <% end %>
</div>